<!--
<h1>posts</h1>

<form action = /posts/create method = 'post'>
    
<p>Title</p>

<input name = 'input_title' type = 'text'>
<p>Content</p>
<input name = 'input_content' type = 'text'>
<input type = 'submit'>

</form>
-->
<h1>Bruin Locker</h1>
<form action = /posts/create>
    <p>Locker Num</p>
    <input name = 'lNum'>
    <p>Locker Combo</p>
    <input name = 'lComb'>
    
    <input type = 'submit'>

</form>
